*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
#fpoo footer{
    display: flex;
    padding: 0 90px;
} 
footer h3{
    font-family: 'Space Mono', monospace;
    color: rgb(47, 0, 255);
    font-size: 23px;
    font-weight: lighter;
    margin-left: 20px;
    margin-bottom: 10px;
}
footer p{
    font-family: 'Space Mono', monospace;
    color: rgb(27, 46, 53);
    font-size: 15px;
    width: 500px;
    font-weight: lighter;
    font-size: 15px;
}
.parteFpoo{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    /* background-color: rgb(255, 200, 0);
    box-shadow: 8px 8px 0px rgb(195, 195, 195); */
    width: 900px;
    height: 500px;
}
.parteFpoo img{
    height: 150px;
    width: 250px;
    margin-left: 100px;
    
}
.teste{
    display: flex;
    margin-left: 25px;
    
}
.teste1{
    display: flex;
    margin-left: 25px;
}
.linha90{
    border-left: 2px solid rgb(255, 200, 0);
    margin-bottom: 50px;
}
.linha91{
    border-left: 2px solid rgb(255, 200, 0);
}
.final{
    background-color: rgb(27, 46, 53);
    height: 50px;
    color: rgb(255, 200, 0);
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}